@font-face {
	font-family: 'BPGSquare';
	src: url('./bpgsquare/bpg_square_2009.eot');
	src: local('BPG Square'),
	url('./bpgsquare/bpg_square_2009.eot?#iefix') format('embedded-opentype'),
	url('./bpgsquare/bpg_square_2009.ttf') format('truetype'),
	url('./bpgsquare/bpg_square_2009.woff') format("woff"),
	url('./bpgsquare/bpg_square_2009.svg#font') format('svg');
}
@font-face {
	font-family: 'BPGSquareMtavruli';
	src: url('./bpgsquare/bpg_square_mtavruli_2009.eot');
	src: local('BPG Square Mtavruli'),
	url('./bpgsquare/bpg_square_mtavruli_2009.eot?#iefix') format('embedded-opentype'),
	url('./bpgsquare/bpg_square_mtavruli_2009.ttf') format('truetype'),
	url('./bpgsquare/bpg_square_mtavruli_2009.woff') format("woff"),
	url('./bpgsquare/bpg_square_mtavruli_2009.svg#font') format('svg');
}
@font-face {
	font-family: 'BPGExtraSquareMtavruli';
	src: url('./bpgsquare/bpg_extrasquare_mtavruli_2009.eot');
	src: local('BPG ExtraSquare Mtavruli'),
	url('./bpgsquare/bpg_extrasquare_mtavruli_2009.eot?#iefix') format('embedded-opentype'),
	url('./bpgsquare/bpg_extrasquare_mtavruli_2009.ttf') format('truetype'),
	url('./bpgsquare/bpg_extrasquare_mtavruli_2009.woff') format("woff"),
	url('./bpgsquare/bpg_extrasquare_mtavruli_2009.svg#font') format('svg');
}
@font-face {
	font-family: 'Lari';
	
}
.clear:after {
	content:".";
	display:block;
	clear:both;
	visibility:hidden;
	line-height:0;
	height:0;
}
.clear {
	display:block;
	margin:0;
	padding:0;
	line-height:normal;
	clear:both;
	float:none;
}
html[xmlns] .clear {
	display:block;
}
* html .clear {
	height:1%;
	overflow:visible;
}

/*******************************************/
/*	HELPERS
/*******************************************/
.showOnSmallAndDown,
.showOnTabletAndDown,
.showOnMobileAndDown {
	display: none !important;
}
@media only screen and (max-width: 1200px) {
  .hideOnSmallAndDown {
    display: none !important;
  }
  .showOnSmallAndDown {
    display: block !important;
  }
}
@media only screen and (max-width: 991px) {
  .hideOnTabletAndDown {
    display: none !important;
  }
  .showOnTabletAndDown {
    display: block !important;
  }
}
@media only screen and (max-width: 768px) {
  .hideOnMobileAndDown {
    display: none !important;
  }
  .showOnMobileAndDown {
    display: block !important;
  }
}
.opacity09 {opacity:0.9;}
.noBold {font-weight:normal !important;}
/*******************************************/
/*	LAYOUT
/*******************************************/
body {
	font-family:"BPGSquare", sans-serif;
	background:#FAFAFA;
	zoom:1;
}
.BPGSquare {
	font-family:"BPGSquare", sans-serif !important;
}
.BPGSquareMtavruli {
	font-family:"BPGSquareMtavruli", sans-serif !important;
}
.BPGExtraSquareMtavruli {
	font-family:"BPGExtraSquareMtavruli", sans-serif !important;
}
.navIcon {
	margin-right:5px;
}
.navIcon i {
	width:18px !important;
	display:inline-block;
}
.ui.dropdown .menu>.item a, 
.ui.items>.item>.content>.header a {
	color:rgba(0,0,0,.87);
}
.ui.items>.item>.content>.header:hover>a {
	 color: #1e70bf;
}

.userProfile .menu a.active {
	font-weight:700;
}
.userHeader {
	display:block;
	float:right;
}
.userHeader .userMessages,
.userHeader .userNotifications {
	display:block;
	float:right;
	margin:4px 0 0 10px;
}
.userHeader .userProfile {
	margin-top:1px;
}
.noMargin {
	margin:0 !important;
}
.newsAddButtons {
	display:block;
	float:right;
	width:auto;
	margin-top:15px;
}
.newsAddButtons div {
	float:left;
	margin-left:5px;
}
.itemIcons {

}
.itemIcons i {
	display:inline-block;
	margin-left:10px !important;
}
.itemIcons i:first-child{margin-left:0 !important;}
.commentFullWidth {
	width:auto !important;
	max-width:none !important;
}
.tableSqolios {

}
.tableSqolios .item {
	display:block;
	float:left;
}
.tableSqolios .item:before {
	display:block;
	content:'-';
	float:left;
	margin:0 8px 0 10px;
	color:#ccc;
}
.tableSqolios .item:first-child:before{display:none;}
.expandingTextarea {
	resize: initial !important;
	overflow: hidden !important;
    box-sizing: border-box !important;
}