@font-face {
	font-family: 'BPGSquare';
	src: url('./fonts/bpgsquare/bpg_square_2009.eot');
	src: local('BPG Square'),
	url('./fonts/bpgsquare/bpg_square_2009.eot?#iefix') format('embedded-opentype'),
	url('./fonts/bpgsquare/bpg_square_2009.ttf') format('truetype'),
	url('./fonts/bpgsquare/bpg_square_2009.woff') format("woff"),
	url('./fonts/bpgsquare/bpg_square_2009.svg#font') format('svg');
}
@font-face {
	font-family: 'BPGSquareMtavruli';
	src: url('./fonts/bpgsquare/bpg_square_mtavruli_2009.eot');
	src: local('BPG Square Mtavruli'),
	url('./fonts/bpgsquare/bpg_square_mtavruli_2009.eot?#iefix') format('embedded-opentype'),
	url('./fonts/bpgsquare/bpg_square_mtavruli_2009.ttf') format('truetype'),
	url('./fonts/bpgsquare/bpg_square_mtavruli_2009.woff') format("woff"),
	url('./fonts/bpgsquare/bpg_square_mtavruli_2009.svg#font') format('svg');
}
@font-face {
	font-family: 'BPGExtraSquareMtavruli';
	src: url('./fonts/bpgsquare/bpg_extrasquare_mtavruli_2009.eot');
	src: local('BPG ExtraSquare Mtavruli'),
	url('./fonts/bpgsquare/bpg_extrasquare_mtavruli_2009.eot?#iefix') format('embedded-opentype'),
	url('./fonts/bpgsquare/bpg_extrasquare_mtavruli_2009.ttf') format('truetype'),
	url('./fonts/bpgsquare/bpg_extrasquare_mtavruli_2009.woff') format("woff"),
	url('./fonts/bpgsquare/bpg_extrasquare_mtavruli_2009.svg#font') format('svg');
}
@font-face {
	font-family: 'Lari';
}
.clear:after {
	content:".";
	display:block;
	clear:both;
	visibility:hidden;
	line-height:0;
	height:0;
}
.clear {
	display:block;
	margin:0;
	padding:0;
	line-height:normal;
	clear:both;
	float:none;
}
html[xmlns] .clear {
	display:block;
}
* html .clear {
	height:1%;
	overflow:visible;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance:none !important;
  margin:0 !important; 
}
input[type=number] {
    -moz-appearance:textfield !important;
}
/*******************************************/
/*	HELPERS
/*******************************************/
.showOnSmallAndDown,
.showOnTabletAndDown,
.showOnMobileAndDown {
	display: none !important;
}
@media only screen and (max-width: 1200px) {
  .hideOnSmallAndDown {
    display: none !important;
  }
  .showOnSmallAndDown {
    display: block !important;
  }
}
@media only screen and (max-width: 991px) {
  .hideOnTabletAndDown {
    display: none !important;
  }
  .showOnTabletAndDown {
    display: block !important;
  }
}
@media only screen and (max-width: 767px) {
  .hideOnMobileAndDown {
    display: none !important;
  }
  .showOnMobileAndDown {
    display: block !important;
  }
  .ui.items>.item>.image, 
  .ui.items>.item>.image>img {
    max-height:100px !important;
  }
}
.opacity09 {opacity:0.9;}
.noBold {font-weight:normal !important;}
.bold {font-weight:bold !important;}
.nopadding {padding:0 !important;}
.nopaddingt {padding-top:0 !important;}
.nopaddingb {padding-bottom:0 !important;}
.nopaddingl {padding-left:0 !important;}
.nopaddingr {padding-right:0 !important;}
.nomargin {margin:0 !important;}
.nomargint {margin-top:0 !important;}
.nomarginb {margin-bottom:0 !important;}
.nomarginl {margin-left:0 !important;}
.nomarginr {margin-right:0 !important;}
.red{color:#B71C1C;}
.black{color: rgba(0,0,0,.87);}
.noSelect {
	-webkit-touch-callout:none !important;
	-webkit-user-select:none !important;
	-moz-user-select:none !important;
	-ms-user-select:none !important;
	user-select:none !important;
}
.verticalCenteringContainer {
	display:flex;
	align-items:center;
	justify-content:center;
	position:fixed;
	top:0;
	left:0;
	right:0;
	width:100%;
	height:100%;
	overflow:hidden;
	text-align:center;
	margin:0 auto;
}
.verticalCenteringContainer > div {
	width:400px;
	max-width:90%;
	height:auto;
	margin:0;
	text-align:left;
}
.verticalCenteringContainer > div .segment {
	margin:0 !important;
}
.verticalCenteringContainer > div .segment .form {
	padding:1em;
}
.verticalCenteringContainer > div .links {
	float:left;
	margin:0 0 0 34px;
}
.verticalCenteringContainer > div .links li {
	display:block;
	margin-bottom:10px;
	font-size:0.9em;
	color:rgba(0,0,0,.7);
}
.verticalCenteringContainer > div .links li a {
	color:rgba(0,0,0,.7);
}
.verticalCenteringContainer > div .links li a:hover {
	color:#1e70bf;
}
.BPGSquare {
	font-family:"BPGSquare", sans-serif !important;
}
.BPGSquareMtavruli {
	font-family:"BPGSquareMtavruli", sans-serif !important;
}
.BPGExtraSquareMtavruli {
	font-family:"BPGExtraSquareMtavruli", sans-serif !important;
}
.link {
	color:#1e70bf !important;
}
.fileChoose {
	position:relative;
	overflow:hidden;
}
.fileChoose input {
	position:absolute;
	top:0;
	right:0;
	margin:0;
	padding:0;
	font-size:1.8em;
	cursor:pointer;
	opacity:0;
}
/*******************************************/
/*	LAYOUT
/*******************************************/
html,body {
	width:100%;
	height:100%;
	min-height:100%;
	font-family:"BPGSquare", sans-serif;
	background:#FAFAFA;
	zoom:1;
}
body {
	overflow-y:scroll;
}
.mainHeader {
	position:fixed;
	top:0;
	left:0;
	right:0;
	width:100%;
	height:60px;
	z-index:1000 !important;
	background-color:#2185D0;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1);
}
.headerDivider {
	position:relative;
	top:0;
	left:0;
	right:0;
	content:' ';
	display:block;
	width:100%;
	height:60px;
	min-height:60px;
}
.mainHeader .sidebarIcon {
	display:inline-block;
	float:left;
	padding:20px 15px 18px 0;
	color:#fff;
	transition:color .05s linear;
}
.mainHeader .sidebarIcon.active {
	color:#043B80;
}
.mainHeader .logo {
	display:inline-block;
	float:left;
	color:#fff;
}
.mainHeader .userHeader {
	position:relative;
	display:block;
	float:right;
	margin:20px 0 0 0;
	text-align:right;
	color:#fff;
	z-index:1000 !important;
}
.mainHeader .userHeader .userProfile {
	margin-top:-2px;
	float:right;
	text-align:right;
}
.mainHeader .userHeader .userProfile .menu a.active {
	font-weight:700;
}
.mainHeader .userHeader .userProfile .menu a {
	padding:10px 0;
}
.userNotificationsContainer {
	float:right;
}
.mainHeader .userHeader .userMessages,
.mainHeader .userHeader .userNotifications {
	display:block;
	float:left;
	margin:0 0 0 10px;
}
.mainHeader .userHeader .userMessages .ui.dropdown.active > div > i,
.mainHeader .userHeader .userNotifications .ui.dropdown.active > div > i {
	color:#043B80;
}

.mainHeader .userHeader .userNotifications .ui.feed>.event>.content .meta>span {
	margin:0 !important;
}
.mainHeader .userHeader .userNotifications .ui.feed>.event>.label img {
	border-radius: .25rem;
}

.mainHeader .mobileNav {
	display:none;
	position:fixed;
	top:60px;
	left:0;
	width:100%;
	height:100%;
	min-height:100%;
	text-align:center;
	background:rgba(45,48,50,.85);
	z-index:100 !important;
	overflow:hidden;
	opacity:0;
	visibility:hidden;
	transition:all .10s linear;
}
.mainHeader .mobileNav.active {
	display:block;
	opacity:1;
	visibility:visible;
	transition:all .10s linear;
}
.mainHeader .mobileNav .navAvatar {
	display:block;
	width:80px;
	height:80px;
	margin:0 auto 10px auto;
	background: #ddd;
	border-radius:50%;
}
.mainHeader .mobileNav .bg {
	display:block;
	height:auto;
	margin:0 auto;
	padding:30px 0 15px 0;
	text-align:center;
	background:#f5f5f5;
}
.mainHeader .mobileNav ul {
	height:auto;
	margin:0 auto !important;
	text-align:center;
	-webkit-margin-before:0 !important;
    -webkit-margin-after:0 !important;
    -webkit-margin-start:0 !important;
    -webkit-margin-end:0 !important;
    -webkit-padding-start:0 !important;
}
.mainHeader .mobileNav ul li {
	display:block;
	margin:0 auto;
	padding:0  0;
	text-align:center;
}
.mainHeader .mobileNav ul li a {
	display:block;
	padding:16px 0 14px 0;
	width:auto;
	text-align:center;
	font-size:16px;
	color:#49565E;
	font-family:"BPGSquareMtavruli", sans-serif;;
	border-bottom:1px solid #f5f5f5;
	cursor:pointer;
}
.mainHeader .mobileNav ul li a.active,
.mainHeader .mobileNav ul li:active a,
.mainHeader .mobileNav ul li a:active {
	background:#eee;
	border-bottom:1px solid #e9e9e9;
}

.ui.form .field .ui.input input,
.ui.form .fields .field .ui.input input,
.ui.form input:not([type]),
.ui.form input[type=text],
.ui.form input[type=email],
.ui.form input[type=search],
.ui.form input[type=password],
.ui.form input[type=date],
.ui.form input[type=datetime-local],
.ui.form input[type=tel],
.ui.form input[type=time],
.ui.form input[type=url],
.ui.form input[type=number]
{
	font-family:"BPGSquare", sans-serif;
}
.navIcon {
	margin-right:5px;
}
.navIcon i {
	width:18px !important;
	display:inline-block;
}
.ui.dropdown .menu>.item {
	border-bottom:1px solid #efefef;
}
.ui.dropdown .menu>.item:last-child{border-bottom:0;}
.ui.dropdown .menu>.item a {
	color:rgba(0,0,0,.87);
}
.ui.items>.item>.content>.header:hover>a {
	color: #1e70bf;
}
.ui.dropdown .menu>.item.unread {
	background-color:rgba(0,64,123,.04);
}
.ui.vertical.menu .languageSwitcher {
	margin:10px 15px;
}

.noMargin {
	margin:0 !important;
}
.newsAddButtons {
	display:block;
	float:right;
	width:auto;
	margin-top:15px;
}
.newsAddButtons div {
	float:left;
	margin-left:5px;
}
.ui.items>.item .extra.itemIcons {

}
.ui.items>.item .extra.itemIcons i {
	display:inline-block;
	margin-left:10px !important;
}
.ui.items>.item .extra.itemIcons i:first-child{margin-left:0 !important;}
.ui.items>.item .extra.itemIcons a {
	display:inline-block;
	margin-left:10px;
	color: rgba(0,0,0,.4);
}
.ui.items>.item .extra.itemIcons a:hover {
	color: rgba(0,0,0,.9);
}
.commentFullWidth {
	width:auto !important;
	max-width:none !important;
}
.tableSqolios {

}
.tableSqolios .item {
	display:block;
	float:left;
}
.tableSqolios .item:before {
	display:block;
	content:'-';
	float:left;
	margin:0 8px 0 10px;
	color:#ccc;
}
.tableSqolios .item:first-child:before{display:none;}
.expandingTextarea {
	resize: initial !important;
	overflow: hidden !important;
    box-sizing: border-box !important;
	min-height:41px !important;
}
.ui.table.reportViewTable td>.ui.ribbon.label {
	min-width:80px;
	text-align:right;
}

.profileEditAvatar {
	width:150px;
	height:150px;
	display:inline-block;
	position:relative;
	margin:0 auto 15px 0 !important;
	z-index:1 !important;
	background:#ddd;
	border-radius:50%;
	overflow:hidden;
}
.profileEditAvatar img {
	margin:0 auto !important;
	z-index:1 !important;
}
.profileEditAvatar .profileEditAvatarActions {
	display:block;
	visibility:hidden;
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	z-index:2;
	background-color:rgba(0,0,0,0.7);
	border-radius:50%;
	opacity:0;
	transition:all .10s ease-in-out;
	overflow:hidden;
}
.profileEditAvatar .profileEditAvatarActions.disabled {
	display:none !important;
}
.profileEditAvatar .profileEditAvatarActions .profileEditAvatarActionsBtns {
	margin:calc(50% - 15px) auto auto auto;
	border-radius:50%;
	overflow:hidden;
}
.profileEditAvatar .profileEditAvatarActions .profileEditAvatarActionsBtns button {
	display:inline-block;
	margin:0 auto;
}
.profileEditAvatar .profileEditAvatarActions .profileEditAvatarActionsBtns button:first-child {margin-right:5px;}
.profileEditAvatar:hover > .profileEditAvatarActions {
	visibility:visible;
	opacity:1;
	transition:opacity .10s ease-in-out;
}
.inputLabelIconStyles {
	width:47px !important;
	margin:0 !important;
}

.ui.accordion .title:not(.ui) {
	background:#f5f5f5;
	border-bottom:1px solid #f1f1f1;
}
.ui.accordion .active.title:not(.ui) {
	color:#888;
	border-bottom:1px solid #ddd;
}
@keyframes pulse {
	0% {
		transform: scale(1);
		opacity:1;
	}
	50% {
		transform: scale(2);
		opacity:0.7;
	}
	100% {
		transform: scale(1);
		opacity:1;
	}
}
.ui.items>.item>.content .like.icon {

}
.ui.items>.item>.content .like.icon:active, .ui.items>.item>.content .like.icon:focus {
	animation:pulse 1s linear infinite;
}
.ui.image.avatar2 {
	display:inline-block;
	width:2em;
	height:2em;
	margin-right:.25em;
	border-radius:.25rem;
}
.ui.dimmer {
	background-color: rgba(0,0,0,.5);
}
.ui.modal .header {
	font-family:"BPGSquareMtavruli", sans-serif;;
}
.ui.modal .ui.button {
	font-family:"BPGSquare", sans-serif;
	font-weight:normal;
}
.ui.items>.item .meta .timeSince {
	font-size:0.9rem;
}
body.animating.in.dimmable,
body.dimmed.dimmable {
	overflow-y: scroll;
}